In [21]:
int(1+2)

3

In [8]:
int("0b100", base=0)

4

In [9]:
print(7.893)

7.893

In [20]:
name="varun Kumar"
age=22
degree="BTech"
print("My age is {} and I have completed: my degree of {} with the name of {}".format(age,degree,name))
print(f"My age is {age} and I have completed: my degree of {degree} with the name of {name}")
print("My age is",str(age) + " and I have completed: my degree of",degree + " with the name of", name)

My age is 22 and I have completed: my degree of BTech with the name of varun Kumar
My age is 22 and I have completed: my degree of BTech with the name of varun Kumar
My age is 22 and I have completed: my degree of BTech with the name of varun Kumar

In [33]:
#if statement
age=2
if(age<18):
    print("You are not eligible to vote")
    age=age+1
print(age)

You are not eligible to vote
3

In [38]:
sentence=input("Enter the sentence:")

Enter the sentence this is fun

In [39]:
print(sentence)

this is fun

In [5]:
age=int(input("Enter your age:"))

Enter your age: 22

In [44]:
##Task
#Take input of age \
#check whether age>=18 and age<=45
#display a message "You are young blood

In [54]:
age=int(input("Enter your age:"))
if (age>=18 and age<=45):
    print("You are yound blood")
else:
    print("You are not in the range of young blood")

Enter your age: 66

You are not in the range of young blood

In [53]:
22>18 and 66<18

False

In [60]:
##product price as input
#mall-event
#product>1000 product price and 20%off
# product<=1000 product price and discount 30% off
#print product price after removing the discout
print("Welcome to Online Shoping Portal")
prodprice=int(input("Enter the price of product you wish to buy:"))
if prodprice<=1000 and prodprice>0:
    print("Your product price was {}.You will be getting a discount of 30%off".format(prodprice))
    total=prodprice-(30%prodprice)
    print("Your total after 30% discount is", total)
else:
    print("Your product price was {}.YOu will be getting a discount of 20%off".format(prodprice))
    total=prodprice-(20%prodprice)
    print("Your total after 20% discount is", total)

Welcome to Online Shoping Portal

Enter the price of product you wish to buy: 2365

Your product price was 2365.YOu will be getting a discount of 20%off
Your total after 20% discount is 2345

In [8]:
prodprice=int(input("Enter the price of Product:"))
if prodprice<=2000:
    print(f"Your total will be {prodprice*0.6}")
elif prodprice>2000 and prodprice<=3000:
    if prodprice==2999:
        print("You will get an additional gift")
        print(f"Your total will be {prodprice*0.7}")
else:
     print(f"Your total will be {prodprice*0.8}")
if prodprice==4000:
        print("You will get a goa trip")

Enter the price of Product: 4000

Your total will be 3200.0
You will get a goa trip

In [9]:
##single statement Suite
val=int(input("Enter the number"))
if(val<=999):print("value is less than equal to 999")

Enter the number 99

value is less than equal to 999

###Loop statements
1. while loop
2. for loop
3. Nested loop
4. Loop control(break, continue, pass)

In [4]:
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("You reached your retirment age")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
You reached your retirment age

In [5]:
atm_amount=1200
while atm_amount!=0:
    print(atm_amount)
    atm_amount=atm_amount-100
else:
    print("Zero Balance.Please deposit some amount")

1200
1100
1000
900
800
700
600
500
400
300
200
100
Zero Balance.Please deposit some amount

In [7]:
#for loop
lst=["varun",1,2,3.5]
lst[2]

2

In [8]:
for x in lst:
    print(x)

varun
1
2
3.5

In [9]:
#Nested for loop
for i   in range(1,10,2):
    print(i)

1
3
5
7
9

In [22]:
n=7
for i in range(0,n,2):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
***
*****
*******

## Loop control

## break and continue
* break leaves entire loop
* continue skips only once
* pass ?

In [4]:
#doubt
for i in range(0,3):
 print(i)

0
1
2